
.card {
  position: relative;
  height: 240px;
  width: 240px;
  background-size: cover;
  margin-bottom: 15px;
  margin-right: 15px;

}


.black {
  z-index: 2;
  background: black;
  opacity: 0;
  transition: all 0.3s;
}

.black:hover {
  opacity: 0.85;
}

.pop {
  z-index: 3;
  color: white;
  font-family: 'Montserrat', sans-serif;
  opacity: 0;
  text-align: center;
  vertical-align: middle;
  margin: 0px;
  height: 240px;
  width: 240px;
  line-height: 200px;
  transition-duration: 0.3s;

}

.pop:hover {
  opacity: 1;
}

.pop .iconify {
  z-index: 50;
  color: white;
  position: relative;
  top: 85px;
  left: 105px;
  opacity: 0;
  transition-duration: 0.3s;
  width: 30px;
  height: 30px;
  display: flex;

}

.pop:hover .iconify {
  opacity: 1;
}

.cardside {
  display: flex;
  flex-wrap: wrap;
  width: 770px;
  height: 500px;
}

.a {
  background-image: url("https://i.scdn.co/image/ab67616d0000b27352c75ed37313b889447011ef");
}

.b {
  background-image: url("https://i.scdn.co/image/ab67616d0000b273d59c3c489691c8b41043cab2");
}

.c {
  background-image: url("https://i.scdn.co/image/ab67616d0000b273e0e9139ff2f8256ebab8fc5b");
}

.d {
  background-image: url("https://i.scdn.co/image/ab67616d0000b273522cdbcd908ebc13b2ab269f");
}

.e {
  background-image: url("https://i.scdn.co/image/ab67616d0000b273ba60f6810163afc8d6af7311");
}

.f {
  background-image: url("https://i.scdn.co/image/ab67616d0000b2738ba71359b7d55ac913be805d");
}
