@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.navbar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
}

.navbar a {
  text-decoration: none;
  color: white;
}

.logo {
  padding-left: 10px;
}

.os {
  display: flex;
  justify-content: space-around;
  width: 30%;
  align-items: center;
  margin-right: 10%;
}

#prem:hover, #tel:hover, #aid:hover, .prof:hover  {
  color: #2d46b9;
}

.pp {
  position: relative;
  width: 37px;
  height: 37px;
  border-radius: 50%;
  background-image: url("https://img.20mn.fr/Z1yCRQASRH6vcu9O-vPWXA/310x190_marley-the-definitive-story-sort-salles-mercredi-13-juin-2012.jpg");
  background-size: cover;

}
